<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/Try-Buy.png">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="http://127.0.0.1:5000/index" class="logo">
						<img src="static/images/icons/Try-Buy.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="http://127.0.0.1:5000/index" style="color: black;">Home</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/product" style="color: black;">Shop</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/features"style="color: black;">Upcoming Features</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/about" style="color: black;">About</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/contact" style="color: black;">Contact</a>
							</li>
						</ul>
					</div>	

					
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="http://127.0.0.1:5000/index"><img src="static/images/icons/Try-Buy.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			
			<ul class="main-menu-m">
				<li>
					<a href="http://127.0.0.1:5000/index">Home</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/product">Shop</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/features">Upcoming Features</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/about">About</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/contact">Contact</a>
				</li>
			</ul>
		</div>

		</header>
	
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('https://searchengineland.com/figz/wp-content/seloads/2018/04/responsive-design-ss-1.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Welcome to TRY & BUY, enjoy your trying here!
						</h3>

						<p class="stext-113 cl6 p-b-26">
						
						TRY & BUY is similar to an in-store changing room.It allows the buyers to try the clothes to check the fitting virtually rather than physically If you want wonderful T-shirts,Jeans,Sunglasses,Caps TRY & BUY brings you the certainty that you can find whatever you need. It will ensure you the best quality and best price products. TRY & BUY was found in 2019. The main products of TRY & BUY are One-Pieces,T-shirts,Jeans. TRY & BUY main goal is to make everyone happy on every special occasion in their life. We have a designer group so that we can manage the latest fashion styles. We are capable to provide you with a different style for every season. We are trying to put our slogan "TRY & BUY, Walk in for the Fashion, Stay in for the Style" into serious actions all the while.

						</p>

						<p class="stext-113 cl6 p-b-26">
						Here at TRY & BUY, everything that is displayed is Hand-picked and Authentique – brought in ditectly from the best of best brands from India as well as all over the world only for you.Start your shopping online with one of the quickest growing e-commerce brands of the country and have a smooth and new online shopping experience.Immerse yourself in the joy of browsing with the best Indian and international brands in this world of fashion.  
						</p>

					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="https://sc01.alicdn.com/kf/HTB1VdzmaMLD8KJjSszeq6yGRpXa6/221149179/HTB1VdzmaMLD8KJjSszeq6yGRpXa6.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Our mission is to provide an apparel virtual trial room on our website that can offer users superior design, quality, value and demo of how the product will look on him/her. We will try to accomplish this by being committed in offering great services and real values to our customers

						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="https://4.bp.blogspot.com/-o9jB7naqQj4/XKJddtaiK8I/AAAAAAAAHy0/8u7xQWdnJMcuQqyukPhdq3jIWUZ1LODKQCLcBGAs/s1600/m.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

	<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Categories
					
				</h4>

				<ul>
					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/product" class="stext-107 cl7 hov-cl1 trans-04">
							Women
						</a>
					</li>

					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/product" class="stext-107 cl7 hov-cl1 trans-04">
							Men
						</a>
					</li>

				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Company
				</h4>

				<ul>
					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/about" class="stext-107 cl7 hov-cl1 trans-04">
							About Us
						</a>
					</li>

					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/features" class="stext-107 cl7 hov-cl1 trans-04">
							Upcoming Features
						</a>
					</li>

				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					GET IN TOUCH
				</h4>
				<ul>
					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/contact" class="stext-107 cl7 hov-cl1 trans-04">
							Contact Us
						</a>
					</li>
				</ul>

				<p class="stext-107 cl7 size-201">
					Any questions? Let us know <br>SGH001350, <br>SHREEDEEP Residency, <br>behind CHAROTAR UNIVERSITY OF SCIENCE AND TECHNOLOGY hospital, <br>CHANGA-388421, GUJARAT,<br> INDIA<br>87807 74592/63551 19697 
				</p>


				<div class="p-t-27">
				
						<i class="fa fa-facebook"></i>
					&nbsp; 	&nbsp;
						<i class="fa fa-instagram"></i>
					&nbsp; &nbsp;
						<i class="fa fa-pinterest-p"></i>
					
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Newsletter
				</h4>

				<form action="registration.php" method="POST">
					<div class="wrap-input1 w-full p-b-4">
						<input class="input1 bg-none plh1 stext-107 cl7" type="email" name="email" placeholder="email@example.com" pattern="[a-z0-9._%+-]+@[gmail,yahoo,icloud,charusat]+\.[com]{2,}$|[a-z0-9._%+-]+@[gmail,yahoo,icloud,charusat]+\.[edu,com,co]+\.[com,in]{2,}">
						<div class="focus-input1 trans-04"></div>
					</div>

					<div class="p-t-18">
						<button type="submit" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
							Subscribe
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="p-t-40">
			<div class="flex-c-m flex-w p-b-18">
				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-01.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-02.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-03.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-04.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-05.png" alt="ICON-PAY">
				</a>
			</div>

			
		</div>
	</div>
</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>
	
</body>
</html>