<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="static/images/icons/Try-Buy.png">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="http://127.0.0.1:5000/index" class="logo">
						<img src="static/images/icons/Try-Buy.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="http://127.0.0.1:5000/index" style="color: black;">Home</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/product" style="color: black;">Shop</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/features"style="color: black;">Upcoming Features</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/about" style="color: black;">About</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/contact" style="color: black;">Contact</a>
							</li>
						</ul>
					</div>	

					
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="http://127.0.0.1:5000/index"><img src="static/images/icons/Try-Buy.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			
			<ul class="main-menu-m">
				<li>
					<a href="http://127.0.0.1:5000/index">Home</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/product">Shop</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/features">Upcoming Features</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/about">About</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/contact">Contact</a>
				</li>
			</ul>
		</div>

		</header>
	
		<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('https://images.unsplash.com/photo-1470309864661-68328b2cd0a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80'); ">
		<h2 class="ltext-105 cl0 txt-center">
			Contact
		</h2>
	</section>	


	<!-- Content page -->
	
	<section class="bg0 p-t-104 p-b-116">
		<div class="container" >
			
			<div class="flex-w flex-tr">
				
				<div class=" size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
					
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Address
							</span>


							<p class="stext-107 cl7 size-201">
							Any questions? Let us know <br>SGH001350, <br>SHREEDEEP Residency, <br>behind CHAROTAR UNIVERSITY OF SCIENCE AND TECHNOLOGY hospital, <br>CHANGA-388421, GUJARAT,<br> INDIA 
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Lets Talk
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
							87807 74592/63551 19697 
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Sale Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18">
								18ce031@charusat.edu.in<br>
								18dcs100@charusat.edu.in<br>
								18dcs125@charusat.edu.in<br>
								18dcs134@charusat.edu.in<br>
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div class="sec-banner bg0 p-t-80 p-b-80">
		<div class="container">
			<div class="row " >
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="hov-img0 how-pos5-parent">
						<img src="static/images/pruthil.jpg" alt="IMG-BANNER">

							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									PRUTHIL HIRPARA
								</span>

								<span class="block1-info stext-102 trans-04">
									63592 61969<BR>18ce031@charusat.edu.in
								</span>
							</div>

					</div>
				</div>
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="hov-img0 how-pos5-parent">
						<img src="static/images/dipal.jpg" alt="IMG-BANNER">

							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									DIPAL SURATI
								</span>

								<span class="block1-info stext-102 trans-04">
									70438 20480<BR>18dcs125@charusat.edu.in
								</span>
							</div>

					</div>
				</div>
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="hov-img0 how-pos5-parent">
						<img src="static/images/parth.jpeg" alt="IMG-BANNER">

							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									PARTH VASOYA
								</span>

								<span class="block1-info stext-102 trans-04">
									63551 19697<BR>18dcs134@charusat.edu.in
								</span>
							</div>

					</div>
				</div>
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="hov-img0 how-pos5-parent">
						<img src="static/images/my.jpg" alt="IMG-BANNER">

							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
								ROGHELIYA VANDIT
								</span>

								<span class="block1-info stext-102 trans-04">
									87807 74592<BR>18dcs100@charusat.edu.in
								</span>
							</div>

					</div>
				</div>
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="hov-img0 how-pos5-parent">
						<img src="static/images/kp.jpg" alt="IMG-BANNER">

							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									KRISHNA PATEL-MENTOR
								</span>

								<span class="block1-info stext-102 trans-04">
									84601 29862<BR>krishnapatel.ce@charusat.ac.in
								</span>
							</div>

					</div>
				</div>

				
			</div>
		</div>
	</div>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Categories
					
				</h4>

				<ul>
					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/product" class="stext-107 cl7 hov-cl1 trans-04">
							Women
						</a>
					</li>

					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/product" class="stext-107 cl7 hov-cl1 trans-04">
							Men
						</a>
					</li>

				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Company
				</h4>

				<ul>
					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/about" class="stext-107 cl7 hov-cl1 trans-04">
							About Us
						</a>
					</li>

					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/features" class="stext-107 cl7 hov-cl1 trans-04">
							Upcoming Features
						</a>
					</li>

				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					GET IN TOUCH
				</h4>
				<ul>
					<li class="p-b-10">
						<a href="http://127.0.0.1:5000/contact" class="stext-107 cl7 hov-cl1 trans-04">
							Contact Us
						</a>
					</li>
				</ul>

				<p class="stext-107 cl7 size-201">
					Any questions? Let us know <br>SGH001350, <br>SHREEDEEP Residency, <br>behind CHAROTAR UNIVERSITY OF SCIENCE AND TECHNOLOGY hospital, <br>CHANGA-388421, GUJARAT,<br> INDIA<br>87807 74592/63551 19697 
				</p>


				<div class="p-t-27">
				
						<i class="fa fa-facebook"></i>
					&nbsp; 	&nbsp;
						<i class="fa fa-instagram"></i>
					&nbsp; &nbsp;
						<i class="fa fa-pinterest-p"></i>
					
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">
					Newsletter
				</h4>

				<form action="registration.php" method="POST">
					<div class="wrap-input1 w-full p-b-4">
						<input class="input1 bg-none plh1 stext-107 cl7" type="email" name="email" placeholder="email@example.com" pattern="[a-z0-9._%+-]+@[gmail,yahoo,icloud,charusat]+\.[com]{2,}$|[a-z0-9._%+-]+@[gmail,yahoo,icloud,charusat]+\.[edu,com,co]+\.[com,in]{2,}">
						<div class="focus-input1 trans-04"></div>
					</div>

					<div class="p-t-18">
						<button type="submit" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
							Subscribe
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="p-t-40">
			<div class="flex-c-m flex-w p-b-18">
				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-01.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-02.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-03.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-04.png" alt="ICON-PAY">
				</a>

				<a href="#" class="m-all-1">
					<img src="static/images/icons/icon-pay-05.png" alt="ICON-PAY">
				</a>
			</div>

			
		</div>
	</div>
</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="static/js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>