<!DOCTYPE html>
<html lang="en">
<head>
	<title>Upcoming Features</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/Try-Buy.png">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="http://127.0.0.1:5000/index" class="logo">
						<img src="static/images/icons/Try-Buy.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="http://127.0.0.1:5000/index" style="color: black;">Home</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/product" style="color: black;">Shop</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/features"style="color: black;">Upcoming Features</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/about"style="color: black;">About</a>
							</li>

							<li>
								<a href="http://127.0.0.1:5000/contact" style="color: black;">Contact</a>
							</li>
						</ul>
					</div>	

					
				</nav>
			</div>	
		</div>
		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="http://127.0.0.1:5000/index"><img src="static/images/icons/Try-Buy.png" alt="IMG-LOGO"></a>
			</div>


			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			
			<ul class="main-menu-m">
				<li>
					<a href="http://127.0.0.1:5000/index">Home</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/product">Shop</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/upcoming-features">Upcoming Features</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/about">About</a>
				</li>

				<li>
					<a href="http://127.0.0.1:5000/contact">Contact</a>
				</li>
			</ul>
		</div>

		
		</header>
	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				

				<div class="item-slick1 " style="background-image: url(https://lpwynwood.files.wordpress.com/2013/10/edit-9256.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-201 cl2 respon2" style="color: #02F5F9;" >
									New Accessories
								</span>
							</div>
																
						</div>
					</div>
				</div>
				<div class="item-slick1" style="background-image: url(https://www.stylegods.com/wp-content/uploads/2017/03/ray_ban_aviator_sunglasses-wallpaper-3840x2400.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-201 cl2 respon2" style="color: white;">
									Sunglasses
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-101 cl2 p-t-19 p-b-43 respon1" style="color: #02F5F9;">
									For Men & Women
								</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="item-slick1" style="background-image: url(https://s3.amazonaws.com/nikeinc/assets/6060/484294_M_Dunk_Group_BTY_RGB_hd_1600.jpg?1323902601);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-201 cl2 respon2" style="color: white; ">
									SPORTS SHOES
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-101 cl2 p-t-19 p-b-43 respon1"  style="color: #02F5F9 ">
									FOR MEN & WOMEN
								</h2>
							</div>
								
						</div>
					</div>
				</div>
				<div class="item-slick1" style="background-image: url(https://i.pinimg.com/originals/ba/71/39/ba7139a2c4b15f5951d96149cf995ad0.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-201 cl2 respon2" style="color: black ; ">
									Tiaras
								</span>
							</div>
								
						</div>
					</div>
				</div>
				<div class="item-slick1" style="background-image: url(https://images.wallpaperscraft.com/image/watches_diamonds_close-up_arrow_time_80778_1920x1080.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-201 cl2 respon2" style="color: black; ">
									Watches
								</span>
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							 Watches
						</h3>

						<p class="stext-113 cl6 p-b-26">
						Welcome to the exclusive collection of watches. Watches on this website will be best for our consumers and will be available at a very low price. You can find all the branded watches at one place and can find the best deals from our website.
						
						</p>

						<p class="stext-113 cl6 p-b-26">
						You can have a look of how the watch fits on your hand with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of watches available in different colours and patterns. You can find all the watches from classical to sports watches. 

						</p>
					</div>
				</div>

				<div class="p-t-85 order-md-1 col-11 col-md-7 col-lg-4 m-lr-auto p-b-500">
					<div class=" how-bor2" >
						<div class=" hov-img0 ">
							<img src="https://c1.wallpaperflare.com/preview/289/297/68/rolex-watch-breitling-to-watch-male-accessories.jpg" alt="IMG">
						</div>
					</div>
				</div>

			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-5 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Sunglasses
						</h3>

						<p class="stext-113 cl6 p-b-26">
						Welcome to the exclusive collection of Sunglasses. Sunglasses on this website will be best for our consumers and will be available at a very low price. You can find all the branded sunglasses at one place and can find the best deals from our website.

						</p>

						<p class="stext-113 cl6 p-b-26">
						You can have a look of how the sunglasses fits on your face with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of sunglasses available in different colours and patterns. You can find all the sunglasses from classical to sports sunglasses. 

						</p>

					</div>
				</div>
				<div class="p-t-5 col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="https://www.itl.cat/pics/b/18/189834_sunglass-wallpaper.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class=" col-md-7 col-lg-8 p-b-50">
					<div class="p-t-100 p-l-15 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							 Necklaces
						</h3>

						<p class="stext-113 cl6 p-b-26">
						Welcome to the exclusive collection of Necklaces. Necklaces on this website will be best for our consumers and will be available at a very low price. You can find all the branded necklaces at one place and can find the best deals from our website.

						</p>

						<p class="stext-113 cl6 p-b-26">
						You can have a look of how the necklace fits on you with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of necklaces available in different colours and patterns. You can find all the necklaces from traditional to latest trends. 
						</p>

					
					</div>
				</div>
				<div class="p-t-85 order-md-1 col-11 col-md-7 col-lg-4 m-lr-auto p-b-500">
					<div class=" how-bor2" >
						<div class=" hov-img0 ">
							<img src="https://c1.wallpaperflare.com/preview/765/854/523/necklace-crystal-necklace-statement-necklace-crystal.jpg" alt="IMG">
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-100 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Earings
						</h3>

						<p class="stext-113 cl6 p-b-26">
						Welcome to the exclusive collection of Earings. Earings on this website will be best for our consumers and will be available at a very low price. You can find all the branded Earings at one place and can find the best deals from our website.

						</p>

						<p class="stext-113 cl6 p-b-26">
						You can have a look of how the earings fits on your face with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of earings available in different colours and patterns. You can find all the earings from classical to latets trending designs of earings. 

						</p>

					</div>
				</div>
				<div class="p-t-100 col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="https://www.seekpng.com/png/detail/127-1271531_diamond-earring-png-diamond-earrings-png-hd.png" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class=" col-md-7 col-lg-8 p-b-50">
					<div class="p-t-100 p-l-15 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							 Tiaras
						</h3>

						<p class="stext-113 cl6 p-b-26">
						Welcome to the exclusive collection of Tiaras. Tiaras on this website will be best for our consumers and will be available at a very low price. You can find all the branded Tiaras at one place and can find the best deals from our website.

						</p>

						<p class="stext-113 cl6 p-b-26">
						You can have a look of how the tiara fits on your face with the feature of virtual room that we have provided on our website. Here the consumer will find all the variety of tiaras available in different colours and patterns. You can find all the tiaras from classical to different design tiaras. 
						</p>

					
					</div>
				</div>
				<div class="p-t-85 order-md-1 col-11 col-md-7 col-lg-4 m-lr-auto p-b-500">
					<div class=" how-bor2" >
						<div class=" hov-img0 ">
							<img src="https://msamericapageant.com/clients/873634/6557301_org.jpg" alt="IMG">
						</div>
					</div>
				</div>

			</div>
			
			
		</div>
	</section>	

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="http://127.0.0.1:5000/product" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="http://127.0.0.1:5000/product" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Company
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="http://127.0.0.1:5000/indexabout" class="stext-107 cl7 hov-cl1 trans-04">
								About Us
							</a>
						</li>

						<li class="p-b-10">
							<a href="http://127.0.0.1:5000/upcoming-features" class="stext-107 cl7 hov-cl1 trans-04">
								Upcoming Features
							</a>
						</li>

					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>
					<ul>
						<li class="p-b-10">
							<a href="http://127.0.0.1:5000/contact" class="stext-107 cl7 hov-cl1 trans-04">
								Contact Us
							</a>
						</li>
					</ul>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know <br>SGH001350, <br>SHREEDEEP Residency, <br>behind CHAROTAR UNIVERSITY OF SCIENCE AND TECHNOLOGY hospital, <br>CHANGA-388421, GUJARAT,<br> INDIA<br>87807 74592/63551 19697 
					</p>


					<div class="p-t-27">
					
							<i class="fa fa-facebook"></i>
						&nbsp; 	&nbsp;
							<i class="fa fa-instagram"></i>
						&nbsp; &nbsp;
							<i class="fa fa-pinterest-p"></i>
						
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>
					<form action="registration.php" method="POST">
						<div class="wrap-input1 w-full p-b-4">
						<input class="input1 bg-none plh1 stext-107 cl7" type="email" name="email" placeholder="email@example.com" pattern="[a-z0-9._%+-]+@[gmail,yahoo,icloud,charusat]+\.[com]{2,}$|[a-z0-9._%+-]+@[gmail,yahoo,icloud,charusat]+\.[edu,com,co]+\.[com,in]{2,}">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button type="submit" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="static/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/slick/slick.min.js"></script>
	<script src="static/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>

<!--===============================================================================================-->
	<script src="static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>